:root {
--color-white: #ffffff;
--color-text: #020122;
--color-primary: #EDD382;
--color-primary-hover: #F2F3AE;
--color-secondary: #FC9E4F;
--color-secondary-hover: #FF521B;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@100..900&display=swap');

@property --myColor1 {
  syntax: '<color>';
  initial-value: #F2F3AE;
  inherits: false;
}

@property --myColor2 {
  syntax: '<color>';
  initial-value: #FC9E4F;
  inherits: false;
}

